</main>
<!-- footer -->

<div class="footer">
    <div class="content">
        <div class="services footoff">
            <h4>Services</h4>
            <p><a href="#">Plumber</a></p>
            <p><a href="#">Carpenter</a></p>
            <p><a href="#">Painter</a></p>
            <p><a href="#">House Cleaner</a></p>
            <p><a href="#">RO mechanic</a></p>
            <p><a href="#">AC mechanic</a></p>
            <p><a href="#">Others</a></p>
        </div>

        <div class="links footoff">
            <h4>Quick links</h4>
            <p><a href="/">Home</a></p>
            <p><a href="/aboutus">About Us</a></p>
            <p><a href="/contactus">Contact Us</a></p>
            <p><a href="/feedback">Give Feedback</a></p>
            <p><a href="#">Terms & Conditions</a></p>
        </div>

        <div class="social-media footoff">
            <h4>Social</h4>
            <p>
                <a href="#"><i class="fab fa-twitter"></i> Twitter</a>
            </p>
            <p>
                <a href=""><i class="fab fa-github"></i> Github</a>
            </p>
            <p>
                <a href=""><i class="fab fa-facebook"></i> Facebook</a>
            </p>
            <p>
                <a href=""><i class="fab fa-instagram"></i> Instagram</a>
            </p>
        </div>

        <div class="details footoff">
            <h4 class="address">Address</h4>
            <p>A-20 Ahmedabad, Gujarat, India.</p>
            <h4 class="mobile">Mobile</h4>
            <p><a href="#">+91 5465466546</a></p>
            <h4 class="mail">Email</h4>
            <p><a href="#">helpershand506219@gmail.com</a></p>
        </div>
    </div>
    <footer>
        <hr />
        ©️ 2023 Helperhands. All rights reserved
    </footer>
</div>


</body>

</html>