<%- include("partials/header.ejs") %>
    
    <div class="out1">

        <a href="#" class="in_out1">

            <div class="io1_left">
                <img src="" alt="">
            </div>
            <div class="io1_right">
                <span class="disp_name righti">Russel Patel</span>
                <span class="disp_cat righti">Electrician</span>
                <span class="disp_rate righti">4.82⭐</span>
                <span class="disp_area righti">Ahmedabad</span>
                <span class="disp_price righti">₹ 250</span>
            </div>

        </a>

        <a href="#" class="in_out1">

            <div class="io1_left">
                <img src="" alt="">
            </div>
            <div class="io1_right">
                <span class="disp_name righti">Russel Patel</span>
                <span class="disp_cat righti">Electrician</span>
                <span class="disp_rate righti">4.82⭐</span>
                <span class="disp_area righti">Ahmedabad</span>
                <span class="disp_price righti">₹ 250</span>
            </div>

        </a>

        <a href="#" class="in_out1">

            <div class="io1_left">
                <img src="" alt="">
            </div>
            <div class="io1_right">
                <span class="disp_name righti">Russel Patel</span>
                <span class="disp_cat righti">Electrician</span>
                <span class="disp_rate righti">4.82⭐</span>
                <span class="disp_area righti">Ahmedabad</span>
                <span class="disp_price righti">₹ 250</span>
            </div>

        </a>

    </div>

<%- include("partials/footer.ejs") %>


<%# for(var i=0; i<db.length; i++){ %>
<!-- <a href="#" class="in_out1">

    <div class="io1_left">
        <img src="" alt="">
    </div>
    <div class="io1_right">
        <span class="disp_name righti"> <%#= db.name %> </span>
        <span class="disp_cat righti"> <%#= db.category %> </span>
        <span class="disp_rate righti"> <%#= db.rating %>⭐ </span>
        <span class="disp_area righti"> <%#= db.city %> </span>
        <span class="disp_price righti">₹ <%#= db.bprice %> </span>
    </div>

</a> -->
<%# } %>