<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Terms & Condition</title>
  <link rel="stylesheet" href=" /styles/TC.css">
</head>

<body>
  <div class="ad_main">
    <div class="TC">
      <h2>Terms & Condition</h2>
    </div>


    <h4>1. Introduction</h4>

    <p>Welcome to Helpers Hand! These terms and conditions govern your use of the Helpers Hand website and the services
      provided through it. By accessing or using Helpers Hand, you agree to comply with and be bound by these terms and
      conditions. If you do not agree with any part of these terms, you may not use our services. </p>

    <h4>2. Services Offered</h4>

    <p>Helpers Hand provides a platform that connects users with service providers offering a variety of home and
      commercial services, including but not limited to:</p>

    <h4>3. Use of the Website</h4>

    <p><span>(a) Eligibility: </span> You must be at least 18 years old to use Helpers Hand. By using the website, you
      represent and warrant that you meet this age requirement.</p>
    <p><span>(b) Account Information:</span>  You agree to provide accurate, current, and complete information when creating an account and
      using our services. It is your responsibility to update any information that changes.</p>

    <p><span>(c) Account Security: </span> You are responsible for maintaining the confidentiality of your account login
      information and for all activities that occur under your account. You agree to notify Helpers Hand immediately of
      any unauthorized use of your account.</p>

    <p><span>(d) Prohibited Uses: </span> You agree not to use the website for any illegal or unauthorized purpose,
      including but not limited to:</p>
    <ol>
      <li>Engaging in any fraudulent activities.</li>
      <li>Posting false or misleading information.</li>
      <li>Interfering with the proper functioning of the website.</li>
      <li>Violating any applicable laws or regulations.</li>
    </ol>

    <h4>4. Booking and Payment</h4>

    <p><span>(a) Service Availability:</span> Booking of services through Helpers Hand is subject to the availability of
      service providers.
      Helpers Hand does not guarantee that any service provider will be available at any given time.</p>
    <p><span>(b) Pricing:</span> Prices for services are set by the service providers and may vary. The price quoted at
      the time of booking
      is the price you will be charged.</p>
    <p><span>(c) Payment Terms:</span> Payment must be made in accordance with the terms specified at the time of
      booking. Helpers Hand may
      facilitate payments between users and service providers through secure payment methods.</p>
    <p><span>(d) Disputes:</span> Helpers Hand is not responsible for any disputes regarding payments between users and
      service providers.
      Any issues should be resolved directly between the parties involved.</p>





    <h4>5. Service Providers</h4>

    <p><span>(a) Qualifications:</span> Service providers using Helpers Hand must have the appropriate licenses,
      qualifications,
      certifications, and insurance required to perform the services they offer.</p>
    <p><span>(b) Quality of Service:</span> Service providers are responsible for the quality, safety, and delivery of
      their services. They
      agree to perform services with reasonable care and skill.</p>
    <p><span>(c) Independence:</span> Service providers are independent contractors and are not employees, agents, or
      representatives of
      Helpers Hand. Helpers Hand does not endorse or guarantee the performance of any service provider.</p>

    <h4>6. Limitation of Liability</h4>

    <p><span>(a) Platform Role: </span> Helpers Hand acts as a platform to connect users with service providers. We do
      not directly offer the
      services listed on the website.</p>
    <p><span>(b) No Warranty: </span> Helpers Hand does not guarantee the accuracy, reliability, or suitability of the
      information and
      services provided through the website. All services are provided "as is" without any warranties, either express or
      implied.</p>
    <p><span>(c) Liability Limitation:</span>Helpers Hand is not liable for any indirect, incidental, special,
      consequential, or punitive
      damages, including but not limited to loss of profits, data, use, goodwill, or other intangible losses, resulting
      from:</p>

    <ol>
      <li>Your use of or inability to use the website.</li>
      <li>Any conduct or content of any third party on the website.</li>
      <li>Any content obtained from the website.</li>
      <li>Unauthorized access, use, or alteration of your transmissions or content.</li>
    </ol>

    <h4>7. Intellectual Property</h4>
    <p><span>(a) Ownership:</span> All content on Helpers Hand, including but not limited to text, graphics, logos,
      images, and software, is
      the property of Helpers Hand or its licensors and is protected by copyright, trademark, and other intellectual
      property laws.</p>
    <p><span>(b) Usage Rights:</span> You may access, view, and print a single copy of the content on Helpers Hand for
      your personal,
      non-commercial use only. You may not modify, reproduce, distribute, or create derivative works from any of the
      content without our prior written consent.</p>

    <h4>8. Privacy Policy</h4>

    <p><span>(a) Data Collection: </span> Our privacy practices are outlined in our Privacy Policy, which governs how we
      collect, use, and
      disclose your information. By using Helpers Hand, you agree to the collection and use of your information in
      accordance with our Privacy Policy.</p>

    <p><span>(b) User Responsibility: </span> You are responsible for maintaining the accuracy and confidentiality of
      your personal
      information. You agree to notify us of any unauthorized access to or use of your account.</p>

    <h4>9. Changes to Terms and Conditions</h4>

    <p><span>(a) Modifications: </span> Helpers Hand reserves the right to update or modify these terms and conditions
      at any time
      without prior notice. Any changes will be effective immediately upon posting on the website.</p>


    <p><span>(b) Continued Use: </span> Your continued use of the website following the posting of any changes
      constitutes acceptance
      of those changes. It is your responsibility to review these terms and conditions periodically to ensure you are
      aware of any updates.</p>

    <h4>10. Governing Law</h4>

    <p><span> Jurisdiction: </span> These terms and conditions are governed by and construed in accordance with the laws
      of India. Any
      disputes arising out of or in connection with these terms and conditions shall be subject to the exclusive
      jurisdiction of the courts in [Your Jurisdiction].</p>

    <h4>11. Contact Us</h4>

    <p>If you have any questions about these terms and conditions, please contact us at <a
        href="#">info@helpershand.com.</a></p>
  </div>


</body>

</html>