<%- include("./profile_sidebar.ejs") %>



    <!-- right side -->
    <main style="background-color: rgb(243 244 246);" class="flex-1 p-6 mr-4 mt-4 mb-4 overflow-y-auto">

        <div class="bg-white p-4 rounded-md shadow-md max-w-4xl mx-auto h-auto">
            <div class="flex items-center justify-between mb-4">
                <h1 class="text-2xl font-bold">Bookings</h1>
            </div>
            <div class="grid grid-cols-1 gap-4 overflow-y-auto">



                <a class="bg-gray-100 p-4 rounded-md" href="#">
                    <div class="flex items-center justify-between">
                        <p class="font-medium text-xl" id="category">Plumber</p>
                    </div>
                    <p class="text-gray-500"><strong>Service Provider Name:</strong> Ramesh Thakkur</p>
                    <p class="text-gray-500"><strong>Date</strong>: May 1, 2023</p>
                    <p class="text-gray-500"><strong>Slot</strong>: Noon</p>
                    <p class="text-gray-500"><strong>Address</strong>: Lorem ipsum dolor sit Lorem ipsum dolor, sit amet
                        consectetur adipisicing elit. Odio nulla ullam vero temporibus aperiam provident sint, cumque
                        sapiente delectus eos iure aliquam debitis voluptas esse, vel nostrum accusantium non beatae.
                        amet.</p>
                    <p class="text-gray-500"><strong>Price</strong>: $150</p>
                </a>



                <a class="bg-gray-100 p-4 rounded-md" href="#">
                    <div class="flex items-center justify-between">
                        <p class="font-medium text-xl">Electrician</p>
                    </div>
                    <p class="text-gray-500"><strong>Service Provider Name:</strong> Mahesh Chauhan</p>
                    <p class="text-gray-500"><strong>Date</strong>: April 20, 2023</p>
                    <p class="text-gray-500"><strong>Slot</strong>: Evening</p>
                    <p class="text-gray-500"><strong>Address</strong>: Lorem ipsum dolor sit Lorem ipsum dolor, sit amet
                        consectetur adipisicing elit. Odio nulla ullam vero temporibus aperiam provident sint, cumque
                        sapiente delectus eos iure aliquam debitis voluptas esse, vel nostrum accusantium non beatae.
                        amet.</p>
                    <p class="text-gray-500"><strong>Price</strong>: $300</p>
                </a>



                <a class="bg-gray-100 p-4 rounded-md" href="#">
                    <div class="flex items-center justify-between">
                        <p class="font-medium text-xl">Plumber</p>
                    </div>
                    <p class="text-gray-500"><strong>Service Provider Name:</strong> Sujal Thakkur</p>
                    <p class="text-gray-500"><strong>Date</strong>: Mrach 28, 2023</p>
                    <p class="text-gray-500"><strong>Slot</strong>: Morning</p>
                    <p class="text-gray-500"><strong>Address</strong>: Lorem ipsum dolor sit Lorem ipsum dolor, sit amet
                        consectetur adipisicing elit. Odio nulla ullam vero temporibus aperiam provident sint, cumque
                        sapiente delectus eos iure aliquam debitis voluptas esse, vel nostrum accusantium non beatae.
                        amet.</p>
                    <p class="text-gray-500"><strong>Price</strong>: $200</p>
                </a>



            </div>
        </div>
    </main>

    
<%- include("./profile_footer.ejs") %>