<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forget Password</title>
    <link rel="stylesheet" href="/styles/forgetpasspage.css">
</head>

<body>

  
  <div id="container">
     <div class="img">
       <img src="/images/Logo.png" alt="Logo">
   </div>

    <form action="/forgotpass" class="form" method="post">
        <p class="form-title">Change Password</p>
         <div class="input-container">
           <input name="email" placeholder="Enter email" type="email">
       </div>
          <button class="submit" type="submit">
         Submit
       </button>
    </form>
   </div> 
</body>

</html>