<%- include("../partials/header.ejs") %>

<!-- about us below -->

<div class="au_para1">
    <h2>Who we are!</h2>
    <p>
      Helpers-Hand is an online service providing platform which offering a
      variety of services at home. Customers use our platform to book services
      such as beauty treatments, haircuts, massage therapy, cleaning,
      plumbing, carpentry, appliance repair, painting etc. These services are
      delivered in the comfort of their home and at a time of their choosing.
      We promise our customers a high quality, standardised and reliable
      service experience. To fulfill this promise, we work closely with our
      hand-picked service partners, enabling them with technology, training,
      products, tools, financing, insurance and brand, helping them succeed
      and deliver on this promise.
    </p>
  </div>

  <div class="au_counter">
    <div class="au_cou">
      +10000 <br />
      Train Professional
    </div>
    <div class="au_cou">
      +70 <br />
      Cities
    </div>
    <div class="au_cou">
      +1 Million <br />
      Satisfied Customers
    </div>
    <div class="au_cou">
      24/7 <br />
      Service
    </div>
  </div>

  <div class="horline"></div>

  <div class="au_imgs">
    <img src="/images/homepainter1.jpg" alt="" />
    <img src="/images/homecleaner.jpg" alt="" />
    <img src="/images/carpenter1.jpg" alt="" />
    <img src="/images/AC reparing2.jpg" alt="" />
  </div>

  <div class="au_tline">We are Service Provides!!</div>

  <div class="horline"></div>

  <div class="au_para1">
    <h2>How we Works!</h2>
    <p>
      Helpers-Hand provides a platform that allows skilled and experienced
      professionals to connect with users looking for specific services. Once
      on the platform, our match-making algorithm identifies professionals who
      are closest to the user's requirements and available at the requested
      time and date. Also it helps the local service providers get work for
      different customers.
    </p>
  </div>

  <div class="horline"></div>

  <div class="au_para2">
    <h2>Our Team</h2>
    <div class="au_profiles">
      <div class="au_pro">
        <img src="/images/Directors/R.jpg" alt="" />
        <h3>Rudra P Patel</h3>
        <h4>Founder, Helperhand</h4>
        <p>
          Rudra is responsible for operatiion and service on-boarding at
          Helpers-Hand. He with the helps of other co-founders make the growth
          of companey. In his free time he use to enjoy with his family and
          friends.
        </p>
      </div>

      <div class="au_pro">
        <img src="/images/Directors/Y.jpg" alt="" />
        <h3>Patel Yash</h3>
        <h4>Co-Founder, Helperhand</h4>
        <p>
          Yash is responsible for technology and production development at
          Helpers-Hand. In his free time he use to learn about the growth of
          the compney and the also loves to spend time with family and
          friends.
        </p>
      </div>

      <div class="au_pro">
        <img src="/images/Directors/N.jpg" alt="" />
        <h3>Patel Nisarg</h3>
        <h4>Co-Founder, Helperhand</h4>
        <p>
          Nisarg is responsible for the technical sector of website and the
          involvement of service providers at Helpers-Hand. In his free time
          he use to meditate and strength his body's inter core for log pure
          life.
        </p>
      </div>

      <div class="au_pro">
        <img src="/images/Directors/T.jpg" alt="" />
        <h3>Patel Tej</h3>
        <h4>Co-Founder, Helperhand</h4>
        <p>
          Tej is responsible for the working services with efficient
          production and management in financing sector at Helpers-Hand. In
          his free time he use to spend time alone his is boundery for
          refreshing maturity.
        </p>
      </div>
    </div>
  </div>

  <div class="horline"></div>

  <div class="au_para3">
    <h2>Our Investors</h2>
    <div class="au_imgs2">
      <img src="/images/Investors/adani.png" alt="" />
      <img src="/images/Investors/tcs.png" alt="" />
      <img src="/images/Investors/godrej.png" alt="" />
      <img src="/images/Investors/tigerglobal.png" alt="" />
      <img src="/images/Investors/vy capital.png" alt="" />
      <img src="/images/Investors/elevation.png" alt="" />
    </div>
  </div>

<%- include("../partials/footer.ejs") %>