<%- include("../partials/header.ejs") %>


    <!-- below is the contactus -->
    <div class="head1">
        <div class="head1para">
            <h1>Get in touch</h1>
            <p>
                Want to get in touch? We'd love to hear from you. <br />Here's how you
                can reach us
            </p>
        </div>

        <div class="head1img">
            <img src="/images/custservice.jpg" alt="" />
        </div>
    </div>

    <div class="head2">
        <div class="head2-box head2-boxl">
            <i class="bx bxs-phone"></i>
            <h3>Talk to our Executive</h3>
            <p>Want to Contact-Us over call?? Call us</p>
            <p> anytime 24/7</p>
            <p> and speak to our service Executive:</p>
            <p>+91 9898988888</p>
        </div>

        <div class="head2-box head2-boxr">
            <i class="bx bxs-message"></i>
            <h3>Message Us</h3>
            <p>Want to Chat with our service Executive?</p>
            <p>Contact-Us over:</p>
            <p>helpershand@gmail.com</p>
        </div>
    </div>

    <div class="horline"></div>

    <div class="title">
        <div class="t t1">Anytime</div>
        <div class="t t2">&</div>
        <div class="t t3">Anywhere</div>
        <div class="t t4">We are there to help you !!</div>
    </div>

    <div class="horline"></div>

    <div class="til1">
        <h2>ContactUs!</h2>
    </div>

    <div class="para1">
        <div class="address">
            <h2>You can Contact-Us physically too.</h2>
            <p>
                Address: <br />
                A-20 Ahmedabad, Gujarat, India
            </p>

            <p>
                Time: 9 a.m. To 8:30 p.m. <br />
                Monday to Saturday.
            </p>
        </div>
        <div class="imag">
            <img src="/images/map.png" alt="" />
        </div>
    </div>

    <div class="horline"></div>

    <div class="para2">

        <div class="para2-left">
            <img src="/images/shakehand.jpg" alt="" />
        </div>

        <div class="para2-right">
            <div class="SPrequest">
                <h2>Join as an employee..</h2>
                <p>We are greatful to have you as our employee</p>

                <form action="/sendrequest/submit" method="post">

                    <label
                        class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
                        for="email">
                        Email
                    </label>
                    <input
                        class="mb-5 flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
                        type="email" placeholder="Enter email" name="email">
                    <button
                        class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-gray-200 border border-gray-300 text-gray-700 hover:bg-gray-300 hover:border-gray-400 h-10 px-4 py-2 w-full sm:w-auto"
                        type="submit" style="background-color: #3d5a80; color: white">
                        Submit
                    </button>
                </form>
                <!-- <a href="/Joinus">Send Request.</a> -->
            </div>
        </div>

    </div>


    <%- include("../partials/footer.ejs") %>