<%- include("../partials/header.ejs") %>


    <!-- below is the contactus -->
    <div class="head1">
        <div class="head1para">
            <h1>Get in touch</h1>
            <p>
                Want to get in touch? We'd love to hear from you. <br />Here's how you
                can reach us
            </p>
        </div>

        <div class="head1img">
            <img src="/images/custservice.jpg" alt="" />
        </div>
    </div>

    <div class="head2">
        <div class="head2-box head2-boxl">
            <i class="bx bxs-phone"></i>
            <h3>Talk to our Executive</h3>
            <p>Want to Contact-Us over call?? Call us</p>
            <p> anytime 24/7</p>
            <p> and speak to our service Executive:</p>
            <p>+91 9898988888</p>
        </div>

        <div class="head2-box head2-boxr">
            <i class="bx bxs-message"></i>
            <h3>Message Us</h3>
            <p>Want to Chat with our service Executive?</p>
            <p>Contact-Us over:</p>
            <p>helpershand@gmail.com</p>
        </div>
    </div>

    <div class="horline"></div>

    <div class="title">
        <div class="t t1">Anytime</div>
        <div class="t t2">&</div>
        <div class="t t3">Anywhere</div>
        <div class="t t4">We are there to help you !!</div>
    </div>

    <div class="horline"></div>

    <div class="til1">
        <h2>ContactUs!</h2>
    </div>

    <div class="para1">
        <div class="address">
            <h2>You can Contact-Us physically too.</h2>
            <p>
                Address: <br />
                A-20 Ahmedabad, Gujarat, India
            </p>

            <p>
                Time: 9 a.m. To 8:30 p.m. <br />
                Monday to Saturday.
            </p>
        </div>
        <div class="imag">
            <img src="/images/map.png" alt="" />
        </div>
    </div>

    <div class="horline"></div>

    <div class="para2">

        <div class="para2-left">
            <img src="/images/shakehand.jpg" alt="" />
        </div>

        <div class="para2-right">
            <div class="SPrequest">
                <h2>Join as an employee..</h2>
                <p>We are greatful to have you as our employee</p>
                <a href="/Joinus">Send Request.</a>
            </div>
        </div>

    </div>


<%- include("../partials/footer.ejs") %>