<%- include("../partials/header.ejs") %>
<%- include("../partials/searchbar.ejs") %>

<div class="home_body">
    <div class="home_part-1">
      <div class="hp-1-left">
        <h1>Home services at your <br> doorstep</h1>
        <div class="hp1-l-box1">
          <h3>What service you want?</h3>
          <div class="sub-1">

              <div class="subsub">
                  <div class="img">
                    <img src="/images/home/air-conditioner.png" alt="" srcset="">
                  </div>
                  <h5 class="text">AC repair</h5>
              </div>

              <div class="subsub">
                <div class="img">
                  <img src="/images/home/plumber.png" alt="" srcset="">
                </div>
                <h5 class="text">Plumber,Water problems</h5>
              </div>

              <div class="subsub">
                <div class="img">
                  <img src="/images/home/electrician.png" alt="" srcset="">
                </div>
                <h5 class="text">Electrician</h5>
              </div>

              <div class="subsub">
                <div class="img">
                  <img src="/images/home/carpenter.png" alt="" srcset="">
                </div>
                <h5 class="text">Carpenter</h5>
              </div>

              <div class="subsub">
                <div class="img">
                  <img src="/images/home/maid.png" alt="" srcset="">
                </div>
                <h5 class="text">House Maid</h5>
              </div>
              
              <div class="subsub">
                <div class="img">
                  <img src="/images/home/painter.png" alt="" srcset="">
                </div>
                <h5 class="text">House painter</h5>
              </div>

          </div>
        </div>
      </div>

      <div class="hp-1-right">
          <img src="/images/main.png" alt="" srcset="">
      </div>

    </div>

</div>



<%- include("../partials/footer.ejs") %>